@model IEnumerable<universidad.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p class="d-flex flex-row-reverse">
    <a asp-action="Create" class="btn btn-dark">Create New Student</a>
</p>
<div class="d-flex flex-wrap align-items-center gap-2">

@foreach (var item in Model) {
        <div class="card text-center"  style="width:18rem;">

            <div class="card-header text-primary lead fw-bold">
               <span>
                    @Html.DisplayFor(modelItem => item.FirstName)
               </span>
               <span>
                    @Html.DisplayFor(modelItem => item.LastName)
               </span>
                  
            </div>

            <div class="card-body">
                <p>Email: @Html.DisplayFor(modelItem => item.Email)</p>
                <p>
                    Document: @Html.DisplayFor(modelItem => item.Document)
                </p>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">

                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
            
         
        </div>
}
</div>